/* google "color picker to find your color */

body {
    background-color: #dcdde1;
    font-family: Arial, sans-serif;
    color: #333;
}

.card{
    background-color: white; 
    width: 400px;           
    margin: 50px auto;      
    padding: 20px;           
    border-radius: 10px;     
    text-align: center;     
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Adds a subtle 3D shadow */
}

h1 {
    color: #2c3e50;
}

img {
  border-radius: 50%;
  width: 150px;
  border: 5px solid white; 
}

/* normally the link's look */
a {
    text-decoration: none;
    color: #e056fd;
    font-weight: bold;
}

/* while hovering over link */
a:hover {
    color: #686de0;
    text-decoration: underline;
}

h2 {
    color: rgba(44, 62, 80, 0.8);
    border-bottom: 2px solid #e056fd;
}